:host {
    .main {
        border-bottom: 1px solid lightgray;
        position: relative;
        padding: 0.5rem 1rem;
    }

    .header-title  {
                text-align: center;
                color: #817e7e;
                margin: 0;
                line-height: 2rem;
    }

        .add-icon {
            position: absolute;
            right: 0.5rem;
            top: 50%;
            transform: translateY(-50%);
            display: inline-flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            border: none;
            background: transparent;
            padding: 6px;
            mat-icon { font-size: 26px; color: #1976d2; }
        }
    
    .card-header {
        justify-content: space-between;
    }

    .card-title {
         padding-bottom: 7px;
         justify-content: space-between;
         align-items: center;
         width: 100%;
         .edit-icon {
            margin-left: 12px;
            mat-icon { cursor: pointer; }
         }
    }

    html,
    body {
         height: 100%;
         overflow-y: auto;
        font-size: 16px
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        max-height: calc(100vh - 5rem);
        overflow-y: auto;
        padding-bottom: 3rem; /* Prevent last card from hitting the screen edge */
    }

    .contact-card {
        width: 100%;
        box-sizing: border-box;
        overflow: visible;
    }

    .row {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }

    .address-block {
        display: flex;
        flex-direction: column;
    }

    .mat-mdc-card-content:last-child {
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    mat-icon {
        color: #1976d2;
    }

    .header-icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}