:host {
    .header-title  {
        text-align: center;
        color: #817e7e;
    }
    
    .card-title {
       padding-bottom: 7px;
    }

    html,
    body {
         height: 100%;
         overflow-y: auto;
        font-size: 16px
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
        max-height: calc(100vh - 50px);
        overflow-y: auto;
        padding-bottom: 2rem; /* Prevent last card from hitting the screen edge */
    }

    .contact-card {
        width: 100%;
        box-sizing: border-box;
        overflow: visible;
    }

    .row {
        display: flex;
        align-items: flex-start;
        gap: 10px;
        flex-wrap: wrap;
    }

    .address-block {
        display: flex;
        flex-direction: column;
    }

    .mat-mdc-card-content:last-child {
        padding-bottom: 16px;
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    mat-icon {
        color: #1976d2;
    }
}