:host {
    .card-title {
        text-align: center;
        color: #817e7e;
    }

    html,
    body {
        overflow-x: hidden;
    }

    .card-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 20px;
        padding: 10px;
        width: 100%;
        box-sizing: border-box;
    }

    .contact-card {
        width: 100%;
        box-sizing: border-box;
    }

    .row {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
    }


    mat-icon {
        color: #1976d2;
    }
}